:root {
    --orange: #e9b142;
}

.hidden {
    visibility: hidden;
}

[draggable="true"] {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
@font-face {
    font-family: 'evelethclean_thin';
    src: url('/fonts/evelethcleanthin-webfont.woff2') format('woff2'),
        url('/fonts/evelethcleanthin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'evelethclean_regular';
    src: url('/fonts/evelethclean-webfont.woff2') format('woff2'),
        url('/fonts/evelethclean-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    /* min-width: 1200px; */
    width: 100%;
}


span[class] {}


.control:has([type="color"]) {
    display: flex;
}

.control:has([type="color"]) [type="color"] {
    width: 64px;
    cursor: pointer;
    padding: 0;
}


.validation-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: white;
    z-index: 9999;
}


.visionner .slides:before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: transparent;
    z-index: 999
}

.visionner .slides {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.visionner .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}


.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}